
.container-fluid a {
    font-family: sans-serif!important;
    font-weight: bold!important;
    text-decoration: none;
   
    padding-top: 26px;
    padding-left: 26px;
    

}

#body-cards{
    display: flex!important;
    flex-direction: row!important;
    flex-wrap: wrap!important;
    justify-content: center!important;
    align-items: flex-start!important;
}


.card{
    margin-top: 60px;
  
    width: 300px;
    height: 200px!important;
  
    border-radius: 8px!important;
    box-shadow: 10px 3px rgb(83, 76, 76);
    


        
}
.card-body{
    padding-top: 20px!important;
    padding-left:30px!important;
    background-color: rgb(100, 208, 235);
    
}